body {
    line-height: 1.5;
    font-size: 16px;
    background-color:rgb(250, 144, 144);
    font-family: 'Tilt Prism', cursive;
   
}


img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    ;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
    font-weight: 600;
    font-size:x-large;
    border-radius: 15px;
    
}
.content {
    display: block;
    font-family: 'Dosis', sans-serif;
    padding-left: 18px;
}

.title{
    font-size: 30px;
    font-style: italic;
    color:rgb(247, 128, 128) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
.definition, .installation, .maintainance, .tips, .styling {
    font-size: larger;
    text-decoration: wavy;
    font-weight: 700;
}
